numpy
pandas
nltk
spaCy
gensim
transformers
beautifulsoup4
lxml
scikit-learn
tensorflow
flask
requests
sqlalchemy
pymysql
python-dotenv
PyPDF2
streamlit
pdfminer.six
matplotlib
seaborn
wordcloud
textblob